{% load static %}

<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="{% static 'favicon.ico' %}">

    <title>Album example for Bootstrap</title>

    <!-- Bootstrap core CSS -->
    <link href="{% static 'dist/css/bootstrap.min.css' %}" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="{% static 'css/album.css' %}" rel="stylesheet">
  </head>

  <body>

    <header>
      <div class="collapse bg-dark" id="navbarHeader">
        <div class="container">
          <div class="row">
            <div class="col-sm-8 col-md-7 py-4">
              <h4 class="text-white">About</h4>
              <p class="text-muted">This app shows the photo of the day and the results returned by the searched keyword using the NASA API.</p>
              <h4 class="text-white">User ({{ user.get_username }})</h4>
              <p><a href="{% url 'password_change' %}">Change Password</a></p>
            </div>
            <div class="col-sm-4 offset-md-1 py-4">
              <h4 class="text-white">Contact</h4>
              <ul class="list-unstyled">
                <li><a href="https://www.linkedin.com/in/celik-hh" class="text-white">LinkedIn</a></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="navbar navbar-dark bg-dark box-shadow">
        <div class="container d-flex justify-content-between">
          <a href="" class="navbar-brand d-flex align-items-center">
            <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="mr-2"><path d="M23 19a2 2 0 0 1-2 2H3a2 2 0 0 1-2-2V8a2 2 0 0 1 2-2h4l2-3h6l2 3h4a2 2 0 0 1 2 2z"></path><circle cx="12" cy="13" r="4"></circle></svg>
            <strong>Astromony Picture of the Day</strong>
          </a>
          <a href="{% url 'logout' %}" style="margin-left: inherit; margin-right: 5px"  class="btn btn-secondary my-2">Logout</a>
          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarHeader" aria-controls="navbarHeader" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
        </div>
      </div>
    </header>

    <main role="main">

      <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">{{apod.title}}</h1>
          <p class="lead text-muted">Find more pictures...</p>
          <!-- Search form -->
          <div class="active-cyan-3 active-cyan-4 mb-4">
            <input  id="search-box" class="form-control" type="text" placeholder="Search" aria-label="Search" class="search" required/>
          </div>
          <p>
            <a onclick="searchFunction()" id="search-button" class="btn btn-primary my-2">Search</a>
          </p>
        </div>
      </section>
      <div class="album py-5 bg-light">
        <div class="container">

          <div class="row">
            <div class="col-md-12">
              <div class="card mb-12 box-shadow">
                <img class="card-img-top" src="{{ apod.url }}">
                <div class="card-body">
                  <p class="card-text">{{ apod.explanation }}</p>
                  <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                      <b>{% if apod.copyright %}{{ apod.copyright }}{% else %} No Copyright {% endif %}</b>
                    </div>
                    <small class="text-muted">{{ apod.date }}</small>
                  </div>
                </div>
              </div>
            </div>

          </div>
        </div>
      </div>

    </main>

    <footer class="text-muted">
      <div class="container">
        <p class="float-right">
          <a href="#">Back to top</a>
        </p>
        <p>More about NASA APIs</p>
        <p><a href="https://api.nasa.gov/">Visit the NASA APIs homepage</a> </p>
      </div>
    </footer>

    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="static/assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="{% static 'assets/js/vendor/popper.min.js' %}"></script>
    <script src="{% static 'dist/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'assets/js/vendor/holder.min.js' %}"></script>
  </body>
</html>
{% block content %}
<script>
        function searchFunction() {
        var keyword = document.getElementById("search-box").value;
        var base_url = window.location.origin;
        if (keyword == '' || keyword.includes(" ")) {alert('Please enter one keyword without any space');}
        else {
        location.href = base_url + "/media_library/" + keyword ;
        }
}
</script>
<script>
var input = document.getElementById("search-box");
input.addEventListener("keyup", function(event) {
  if (event.keyCode === 13) {
   event.preventDefault();
   document.getElementById("search-button").click();
  }
});
</script>
{% endblock %}